<h1 [class.gray]="h1Style">Home</h1>
<h2 [ngClass]="{'gray': h1Style, 'large': !h1Style}" >Sub Home</h2>
<h3 [style.color]="h1Style ? 'gray': 'black'" >Home three</h3>

<h4 [ngStyle]="{
	'color': h1Style ? 'gray': 'black',
	'font-size': !h1Style ? '1em': '4em'
}" >Home Four</h4>

<button (click)="firstClick()">Click me</button>

<h1>Users</h1>

<ul *ngIf="users">
	<li *ngFor="let user of users.data">
		<img [src]="user.avatar">
		<p>{{ user.first_name }} {{ user.last_name }}</p>
	</li>
</ul>

<h2>Formulario</h2>
<app-miformulario></app-miformulario>